@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-padding {
    @apply max-w-[100rem] mx-auto px-[.8rem] sm:px-[1.5rem] lg:px-[2.5rem]
  }

  .subtitle-text-size {
    @apply lg:text-3xl text-2xl
  }

  .full-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}